* {
    max-width: 1470px;
    margin: 5px 10px;

}

/* google Font */
.noto-serif-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* share styles */
.display-flex {
    display: flex;
    justify-content: space-between;
}

.color-1 {
    color: #252432;
}

.color-2 {
    color: #8987A1;
}

.color-3 {
    color: #000000;
}

.color-4 {
    color: #E95A08;
}

.color-5 {
    color: rgba(0, 0, 0, 0.49)
}


/* nav stles */
nav {
    align-items: center;
}

nav img {
    width: 135px;
    height: 82px;
}

nav ul {
    list-style: none;
    gap: 8px;
}

nav ul a {
    text-decoration: none;
}

/* banner style */
.hasan {

    border: solid rebeccapurple;
}

.banner-container {
    gap: 13;

}

.banner-titel {
    font-size: 4.6rem;
    font-weight: 700;

}

.banner-paragraph {
    font-size: 1.37rem;
    font-weight: 400;
}

.banner-img {
    width: 100%;
}

/* Our Plants  */
.Plants {
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
}

.Plants-title {
    font-size: 3.12rem;
    font-weight: 700;
    text-align: center;
}

.Plants-p {
    text-align: center;
}

/* card styles */
.cad-container {}

.cars-section {
    width: 270px;
    height: 485px;
    margin: 0 auto;
    align-items: center;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, );
    background-color: aliceblue;

    transition: 0.5 ease;

}

.card-img {
    width: 100%;
}

.card-titel {
    width: 132px;
    height: 16px;
    font-weight: 500;
    margin: auto;
    color: #111111;
    font-size: 1.37rem;

}

.card-price {
    width: 132px;
    height: 16px;
    font-weight: bold;
    color: #111111;
    margin: 0 auto;
    font-size: 1.37rem;
}

.card-button {
    width: 270px;
    height: 50px;
    margin: 0 auto;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;

    transition: 0.5 ease;

}

.cars-section:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, );
}

.card-button:hover {
    transform: scale(1.2);
    background-color: rgb(0, 191, 255);
}

/* Flower & Plants Lover */
.main-floewr {
    margin-top: 100px;
}

.img-flower {
    width: 100%;
    height: 100%;
}

.title-floewr {
    font-weight: bold;
    font-size: 3.12rem;
}

.floewr-p {
    font-weight: 400;
    font-size: 1.37rem;
}

/* Latest Deals */
.samim {
    margin-top: 120px;
    text-align: center;
}

.latest-deals {
    font-weight: 700;
    font-size: 3.12rem;
}

.latest-deals-p {
    font-weight: 400;
    font-size: 1.37rem;
}

/* 60% Off | Bloom Plant */
.Bloom-card {
    margin-top: 50px;
}

/* .img-text-card {
    margin-top: 50px;
} */

.container {
    position: relative;
    margin: auto;
    margin-bottom: 20px;

    width: 390px;
    height: 201px;
    gap: 20px;
    color: rgba(0, 0, 0, 0.4);

}

.Bloom {
    color: #faf6f5;
    font-size: 1.2rem;
    font-weight: bold;
}

.Bloom-1 {
    font-weight: bold;
    font-size: 2rem;
    color: #faf6f5;
}

.img-tex-center {

    height: 50px;
    width: 270px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #FFFFFF;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.container img {

    position: relative;
    height: 100%;
}

.container-zabo {
    position: relative;
    margin: auto;
    margin-bottom: 20px;

    width: 773px;
    height: 432px;
}



/* mobile */
@media screen and (max-width: 576px) {
    .hasan {

        flex-direction: column;
        flex-direction: column-reverse;
    }

    .banner-titel {
        font-size: 1.5rem;
    }

    .banner-paragraph {
        font-size: 0.87rem;
    }

    /* card-container */

    .cars-section {
        width: 171px;
        height: 341px;
    }

    .cad-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .card-button {
        width: 171px;
        height: 50px;
    }

    /*  Flower & Plants Lover */
    .main-floewr {
        flex-direction: column;
        align-items: center;
    }

    .img-text-card {
        flex-direction: column;
    }

    .Bloom-card {
        flex-direction: column;
    }

    .zabo-img {
        width: 361px;
        height: 172px;
    }
}