* {
    max-width: 1470px;
    margin: 5px 10px;

}

/* google Font */
.noto-serif-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* share styles */
.display-flex {
    display: flex;
    justify-content: space-between;
}

.color-1 {
    color: #252432;
}

.color-2 {
    color: #8987A1;
}

.color-3 {
    color: #000000;
}

.color-4 {
    color: #E95A08;
}

.color-5 {
    color: rgba(0, 0, 0, 0.49)
}


/* nav stles */
nav {
    align-items: center;
}

nav img {
    width: 135px;
    height: 82px;
}

nav ul {
    list-style: none;
    gap: 48px;
}

nav ul a {
    text-decoration: none;
}

/* banner style */
.hasan {

    border: solid rebeccapurple;
}

.banner-container {
    width: 517px;
    height: 88px;
    gap: 13;
    margin-top: 40px;
}

.banner-titel {
    font-size: 4.6rem;
    font-weight: 700;

}

.banner-paragraph {
    font-size: 1.37rem;
    font-weight: 400;
}

.banner-img {
    width: 100%;
}